@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{background-color:#fff;
    color:#111; line-height:100%; letter-spacing: -0.5px;
    font-family: "Noto Sans KR", sans-serif;}
html,body{width:100%; height:100%; margin:0; padding:0; letter-spacing:-0.5px;
    font-weight:normal;}
div,p,ul,li,span{margin:0; padding:0;}
ul,li,ol,dd,dt,dl{list-style:none; margin:0px; padding:0px; line-height:100%;}
form,fieldset,p{margin:0; padding:0; border:0;}
img{border:0; vertical-align:middle; outline:none;}

a{display: block; text-decoration: none; color:inherit;}

nav{
    /* width:19%; */
    float:left;
    position:relative;
    top:50%;
    left:3.6%;
    transform: translateY(-50%);
}

nav li{
    height:40px;
    font-size:20px;
    font-weight: bold;
    line-height:20px;
    letter-spacing: -0.2px;
    color:rgba(0,0,0,0.2);
    cursor: pointer;
}

nav li.on{
    color:rgba(0,0,0,1);
}

nav li:hover::after{
    width:15px;
    height:15px;
    margin-left:12px;
    /* margin-bottom:1px; */
    border-radius: 50px;
    content: "";
    display: inline-block;
    background-color: #7BB5B1;
}